body {
	font-family: 'Hind';
	font-weight: 400;
}
.bg-loco {
	background-image: repeating-linear-gradient(black, gray 2%)
}

h4 , h2 {
	font-weight: 600;
}


.hero-section {
	padding:25em;
	padding-left: 50px;
	padding-top: 100px;
}

.presentacion {
	margin: 0px;
	padding: 0px;
}

.hero-section h1 {
	font-size: 300%;
}

.logo {
	font-size: 200%;
	font-family: 'Josefin Sans';
	transform: skew(-15deg);
}

.bg {
	background-image: url('../img/foto-hero.png');
    background-size: cover;
    box-sizing: inherit;    
}

.bg-contact {
	background-image: url('../img/foto-contact.png');
	background-size: cover;
}

.descripcion {
	padding: 10em;
}

.experiencia {
	padding: 10em;
}

.trabajos {
	padding: 10em;
}

.contacto {
	padding: 10em;
}

footer {
	padding: 1rem;
}

.chico {
	height: 150px;
}


.carousel-indicators {
	top:200px;
}


.carousel-indicators li {
	width: 10px;
	height: 10px;
	background-color: #373a3c;
	border-radius: 50%;
}


