.hero-section {
	padding: 25em;
}

.hero-section h1 {
	font-size: 300%;
}


.bg {
	background-image: url('../img/foto-hero.png');
    background-size: inherit;

        
}

.bg-contact {
	background-image: url('../img/foto-contact.png');
	background-size: cover;
}

.descripcion {
	padding: 10em;
}

.experiencia {
	padding: 10em;
}

.trabajos {
	padding: 10em;
}

.contacto {
	padding: 10em;

}

footer {
	padding: 1rem;
}

.chico {
	height: 150px;
}


.carousel-indicators {
	top:170px;
}


.carousel-indicators li {
	width: 10px;
	height: 10px;
	background-color: #373a3c;
	border-radius: 50%;

}


